<html>

<head>
  <meta http-equiv="refresh" content="3;url=/index.html" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <title>Sign Up.</title>
  <style>
    .section {
      text-align: center;
    }
  </style>
</head>

<body>
    <div class="section">
      <div class="row">
        <h2>You have signed up!</h2>
      </div>
      <div class="row">
        <p>You will be redirected to the main page automatically</p>
      </div>
      <div class="row">
        <p>If you are not redirected soon, click <a href="index.html">this link</a></p>
      </div>
    </div>
</body>

</html>